/* main: layout.scss*/

#nav-bar{
	@include set-size(80px,100%);
	background-color: #00a087;
	position: fixed;
	top:0;
    *{
		float: left;
		z-index:1;
	}
	.header{
		@include set-box(0 10px, $_i 5px $_i 0);
		line-height:80px;
		font-size: 2em;
		color:#e8fdff;
	}
	.logo{
		@include set-full-model(0,0 2em 0 0, auto,80px,0,none);
	}
	button{
		@include set-all(10px 20px,20px 2em 0 0,40px,20%,5px,$base-border black,#55aaaa,#ddffff);
		outline:none;
		float:right;
	}
	button:hover{
		@include set-color(black,white)
	}
	input{
		outline:none;
		@include set-full-model(5px,25px 2% 0 1%, 30px, 10%,10px,1px solid white)
		float:left;
		text-align: center;
	}
	#register, #login{
		width: 40%;
	}
}
.hidden{
	display:none;
}

@media(max-width:480px){
	#nav-bar{
		.header{
			@include set-box(0 1%, 0 1%);

			font-size: 2em;
		}
		.logo{
			@include set-full-model(0,10px 2% 0 2%, auto,60px,0,none);
		}
		button{
			@include set-full-model(0,20px 1% 0 1%,40px,30%,5px,$base-border none);
		}
	}
}

@media(min-width:481px) and (max-width:700px){
	#nav-bar{

		.logo{
			@include set-full-model(0,10px 2em 0 2%, auto,60px,0,none);
		}
		button{
			@include set-full-model(10px 2%,20px 2em 0 1%,40px,38%,5px,$base-border none);
		}
	}
}
