nav{
	background-color: #00a087; 
	position: fixed;
	height:80px;
	width:100%;
	top:0;
}

#nav-bar *{
	float: left;
	margin-left: 2em;
	z-index:1;
}

#nav-bar .header{
	line-height:80px;
	font-size: 2em;
	color:#e8fdff;
	margin-left: 0;
	padding: 0 10px;
}

#nav-bar .logo{
	width: 80px;
	height:auto;
}

#nav-bar button{
	background-color: #ddffff;
	color:#55aaaa;
	border: 1px solid black;
	outline:none;
	border-radius: 5px;
	margin-top:20px;
	margin-right: 2em;
	padding:10px 20px;
	float:right;
}

#nav-bar button:hover{
	background-color: white;
	color:black;
}